<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lost & Found</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="sideNavBar.css" />
    <link rel="stylesheet" href="headerNavBar.css" />
    <link rel="stylesheet" href="homePage.css" />
    <link href="output.css" rel="stylesheet" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="homePageToLet.css" />
    <link rel="stylesheet" href="postShow.css" />
  </head>

  <body>

    <!-- header nav bar -->
    <%- include("../layout/headerNavBar") %> <%- include("../layout/sideNavBar")
    %> <%- include("../layout/buyAndSellNavBar") %>

    <div class="contentBox">
        <div class="post_area">
            <div id="postArea1">
              <div id="postArea1Box1">
                <div class="text-5xl mt-3 mb-6 overflow-hidden" id="h2_color">
                  title
                </div>
                <h5 class="mb-2">
                  <span class="glyphicon glyphicon-time mb-2"></span>
                  Posted by 
                </h5>
                <h5>
                  <span class="label label-danger">rent : tk</span>
                  <span class="label label-primary"
                    >location : </span
                  >
                  <span class="label label-primary"
                    >Post for : </span
                  >
                </h5>
              </div>
    
              <div id="postArea1Box2">
                <div class="center">
                  <div
                    id="reviewCountShowBigly"
                    style="font-size: 20px; font-weight: bold"
                  >
                    5
                  </div>
                  &nbsp;
                  <div>
                    <img
                      src="images\star.png"
                      style="height: 25px; width: 25px; margin-bottom: 4px"
                      alt="Star"
                    />
                  </div>
                </div>
                <button
                  class="btn btn-default btn-md"
                  id="saveButton"

                >
                  save it
                </button>
                <button
                  class="btn btn-primary btn-md"

                >
                  Request for Confirm
                </button>
              </div>
            </div>
            <div id="postArea2" style="display: flex; width: 100%; justify-content: center; align-items: center;">
                <div class="h-[200px] w-[200px] flex">
                    <div class="h-full w-[400px] bg-gray-400"></div>
                    <div class="h-[200px] w-[200px] bg-gray-800 ml-3"></div>
                </div>
                <div class="">sdfe</div>
                <div class="">ere</div>
            </div>
            <div id="postArea3">
              <!-- ekhane like review confirm button thakbe -->
              <div
                id="post_button0"

              >
                <span>
                  <span id="reviewCount"></span>
                  <i class="fa-regular fa-star"></i>
                </span>
                <span class="ffsize">Rating</span>
              </div>
              <!-- ei people review a click korle akta popup window ashbe r dekhabe total koyta like r dislike r rating count ta boro kore dekhabe -->
              <div
                id="like-button"

              >
                <i class="fa-regular fa-thumbs-up fa-1x"></i>
                <span class="ffsize" id="like-count"
                  >Like</span
                >
              </div>
    
              <div
                id="post_button1"

              >
                <i class="fa-regular fa-thumbs-down"></i>
                <span class="ffsize" id="dislike-count"
                  >DisLike</span
                >
              </div>
              <div
                id="post_button2"

              >
                <i class="fa-regular fa-compass"></i
                ><span class="ffsize">Description</span>
              </div>
            </div>
          </div>       
    </div>

    <!-- Quick find  -->
    <div class="h-[100vh] w-[100vw] fixed top-[5%] flex justify-center items-center hidden" id="quickFindBox">
                <div class="absolute h-full w-full bg-black opacity-50" onclick="hideQuickFindBox()"></div>
                <div
                  class="h-[400px] w-[600px] p-10 bg-white absolute rounded-3xl shadow-md flex flex-col justify-between items-center"
                >
                <i class="fa-solid fa-xmark absolute top-5 right-5 hover:scale-150 hover:text-red-500" onclick="hideQuickFindBox()"></i>
                  <div class="text-3xl">Enter price range</div>
                  <div class="w-full flex">
                    <div class="w-1/2">
                      <input
                        class="w-full h-[50px] p-4 mr-1 text-3xl text-black bg-gray-200"
                        placeholder="enter starting price"
                        type="number"
                        name="range1"
                      />
                    </div>
                    <div class="w-1/2">
                      <input
                        class="w-full h-[50px] p-4 ml-1 text-3xl text-black bg-gray-200"
                        placeholder="enter ending price"
                        type="number"
                        name="range2"
                      />
                    </div>
                  </div>
                  <div class="text-3xl">Select category</div>
                  <div class="w-full">
                    <select name="" id="" class="w-full h-[50px] p-4 ml-1 text-3xl text-black bg-gray-200"">
                      <option value="phone">Phone</option>
                      <option value="phone">Electronics</option>
                      <option value="phone">Furniture</option>
                    </select>
                  </div>
                  <div class="text-3xl">Total post founded : 4</div>
                  <div class="">
                    <button class="btn btn-primary btn-lg">See now</button>
                  </div>
                </div>
                </div>
    <script src="\javaScriptFiles\sideNavBarShow.js"></script>
    <script src="\javaScriptFiles\buyAndSellEvents.js"></script>
  </body>
  <%- include("../layout/footer.ejs") %>
</html>
