<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- this is for using google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap"
      rel="stylesheet"
    />
    <!-- this is for adding css style -->
    <link rel="stylesheet" href="sideNavBar.css" />
    <link rel="stylesheet" href="headerNavBar.css" />
    <link rel="stylesheet" href="homePageToLet.css" />
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="output.css" />
  </head>

  <body>
    <!-- header nav bar -->
    <%- include("layout/headerNavBar") %>

    <!-- side nav bar -->
    <%- include("layout/sideNavBar") %>

    <!-- home page content -->
    <div class="contentBox">
      <!-- Box 1 ToLet-->
      <div
        class="boxSmall"
        id="box1"
        onmouseover="setVisibility('box1', 'changeStyle1', 'text1')"
        onmouseout="unsetVisibility('box1', 'changeStyle1', 'text1')"
      >
        <div class="boxbox1">
          <img class="imgSmall" src="\images\bed.png" alt="" />
        </div>
        <div class="boxbox2">
          <div
            class="boxbox2box madimi-one-regular changeTextPosition"
            id="text1"
          >
            To-let
          </div>
          <div class="boxbox2boxUnvisible" id="changeStyle1">
            <div class="boxbox2box">
              Looking for a place to stay near your campus? Explore our curated
              list of rooms, houses, and shared accommodations available for
              rent. Tailored for students, find options that fit your budget and
              preferences with real-time availability.
            </div>
            <div class="boxbox2box">
              <button
                class="boxButton"
                onclick="window.location.href='/homePageToLet'"
              >
                Browse now
              </button>
            </div>
          </div>
        </div>
        <div class="boxbox3">
          <h3>13+</h3>
          <p>available</p>
        </div>
      </div>

      <!-- Box 2 Lost And Found-->
      <div
        class="boxSmall"
        id="box2"
        onmouseover="setVisibility('box2', 'changeStyle2', 'text2')"
        onmouseout="unsetVisibility('box2', 'changeStyle2', 'text2')"
      >
        <div class="boxbox1">
          <img class="imgSmall" src="\images\lost&found.png" alt="" />
        </div>
        <div class="boxbox2">
          <div
            class="boxbox2box madimi-one-regular changeTextPosition"
            id="text2"
          >
            Lost and Found Items
          </div>
          <div class="boxbox2boxUnvisible" id="changeStyle2">
            <div class="boxbox2box">
              Lost something important on campus? Post details about your
              missing items, or browse through recently found items reported by
              fellow students. Let's work together to help you recover what
              you've lost!
            </div>
            <div class="boxbox2box">
              <button
                class="boxButton"
                onclick="window.location.href='/lostAndFoundHomePage'"
              >
                Explore now
              </button>
            </div>
          </div>
        </div>
        <div class="boxbox3">
          <h3>17+</h3>
          <p>available</p>
        </div>
      </div>

      <!-- Box 3 -->
      <div
        class="boxSmall"
        id="box3"
        onmouseover="setVisibility('box3', 'changeStyle3', 'text3')"
        onmouseout="unsetVisibility('box3', 'changeStyle3', 'text3')"
      >
        <div class="boxbox1">
          <img class="imgSmall" src="\images\breakfast.png" alt="" />
        </div>
        <div class="boxbox2">
          <div
            class="boxbox2box madimi-one-regular changeTextPosition"
            id="text3"
          >
            Meal Delivery
          </div>
          <div class="boxbox2boxUnvisible" id="changeStyle3">
            <div class="boxbox2box">
              Hungry but no time to cook? Order delicious meals from nearby
              student hostels, messes, or shared kitchens. Whether it’s dine-in
              or delivery, get meals that fit your schedule and appetite!
            </div>
            <div class="boxbox2box">
              <button class="boxButton">Check listings</button>
            </div>
          </div>
        </div>
        <div class="boxbox3">
          <h3>5+</h3>
          <p>available</p>
        </div>
      </div>

      <!-- Box 4 Buy and Sell-->
      <div
        class="boxSmall"
        id="box4"
        onmouseover="setVisibility('box4', 'changeStyle4', 'text4')"
        onmouseout="unsetVisibility('box4', 'changeStyle4', 'text4')"
      >
        <div class="boxbox1">
          <img class="imgSmall" src="\images\buyAndSell.png" alt="" />
        </div>
        <div class="boxbox2">
          <div
            class="boxbox2box madimi-one-regular changeTextPosition"
            id="text4"
          >
            Buy and Sell Items
          </div>
          <div class="boxbox2boxUnvisible" id="changeStyle4">
            <div class="boxbox2box">
              Have unused items taking up space? Sell them to your fellow
              students, or find great deals on second-hand books, gadgets, and
              more. An easy, secure way to trade within the student community.
            </div>
            <div class="boxbox2box">
              <button
                class="boxButton"
                onclick="window.location.href='/buyAndSellHomePage'"
              >
                Start now
              </button>
            </div>
          </div>
        </div>
        <div class="boxbox3">
          <h3>16+</h3>
          <p>available</p>
        </div>
      </div>

      <!-- Box 5 -->
      <div
        class="boxSmall"
        id="box5"
        onmouseover="setVisibility('box5', 'changeStyle5', 'text5')"
        onmouseout="unsetVisibility('box5', 'changeStyle5', 'text5')"
      >
        <div class="boxbox1">
          <img class="imgSmall" src="\images\blood.png" alt="" />
        </div>
        <div class="boxbox2">
          <div
            class="boxbox2box madimi-one-regular changeTextPosition"
            id="text5"
          >
            Blood Help Board
          </div>
          <div class="boxbox2boxUnvisible" id="changeStyle5">
            <div class="boxbox2box">
              Are you in emergency ? Do you need blood for yourself or your
              relatives ? There are many of your green university friends are
              ready to help you by giving their blood. Visit this to collect
              blood or donate you blood.
            </div>
            <div class="boxbox2box">
              <button
                class="boxButton"
                onclick="window.location.href='/bloodHelpHomePage'"
              >
                Start now
              </button>
            </div>
          </div>
        </div>
        <div class="boxbox3">
          <h3>12+</h3>
          <p>available</p>
        </div>
      </div>
    </div>
  </body>
  <%- include("layout/footer.ejs") %>

  <!-- js events part -->
  <script src="\javaScriptFiles\home.js"></script>
  <script src="\javaScriptFiles\sideNavBarShow.js"></script>
</html>
