<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Post Something</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- this is for adding css style -->
    <!-- ei css file ei post show part er css rakhci -->
    <link rel="stylesheet" href="sideNavBar.css" />
    <link rel="stylesheet" href="postShare.css" />
    <link rel="stylesheet" href="headerNavBar.css" />
    <link rel="stylesheet" href="homePageToLet.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="output.css" />
  </head>

  <body>
    <!-- header nav bar -->
    <%- include("layout/headerNavBar") %> <%- include("layout/sideNavBar") %>
    <!-- nav bar part , this will appear above of the page -->
    <%- include("layout/toLetNavBar") %>
    <div class="content my-8">
      <form action="/postShare" method="POST" enctype="multipart/form-data">
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input
              class="form-control"
              name="title"
              type="text"
              placeholder="Enter title of the post"
              id="title"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label"
            >Number of Seats</label
          >
          <div class="col-sm-10">
            <input
              class="form-control"
              name="seat"
              type="number"
              placeholder="Enter title of the post"
              id="title"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="seat_number" class="col-sm-2 col-form-label"
            >Seat type</label
          >
          <div class="col-sm-10">
            <select class="form-control" name="seat" id="seat_number">
              <option value="dining">1 seat in dining</option>
              <option value="one_seat1" selected>
                1 seat in 2 person room
              </option>
              <option value="one_seat2">1 seat in 3 person room</option>
              <option value="two_seat">2 seat in 3 person room</option>
              <option value="room">1 room of 2 seat</option>
              <option value="room2">1 room of 3 seat</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="month" class="col-sm-2 col-form-label">Entry Month</label>
          <div class="col-sm-10">
            <select class="form-control" name="entryMonth" id="month">
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="rent" class="col-sm-2 col-form-label">Seat Rent</label>
          <div class="col-sm-10">
            <input
              class="form-control"
              name="rent"
              type="number"
              placeholder="Enter each seat rent in (tk)"
              id="rent"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="distance" class="col-sm-2 col-form-label">Distance</label>
          <div class="col-sm-10" style="display: flex; gap: 10px">
            <input
              class="form-control"
              name="distance"
              type="number"
              placeholder="Distance from University (km)"
              id="distance"
            />
            <input
              class="form-control"
              name="timeRequire"
              type="number"
              placeholder="Maximum time required (min)"
              id="timeRequire"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="location" class="col-sm-2 col-form-label">Location</label>
          <div class="col-sm-10" style="display: flex; gap: 10px">
            <select name="locationVillage" id="village" class="form-control">
              <option value="kaladi">Kaladi</option>
              <option value="kanchan-bazar">Kanchan-Bazar</option>
              <option value="kanchan-bridge">Kanchan-Bridge</option>
              <option value="university-gate">University-Gate</option>
              <option value="shewrapara">Shewrapara</option>
              <option value="kazipara">Kazipara</option>
              <option value="agargaon">Agargaon</option>
              <option value="blank">Blank</option>
            </select>
            <select name="locationDistick" id="distick" class="form-control">
              <option value="narayanganj">Narayanganj</option>
              <option value="mirpur10">Mirpur-10</option>
              <option value="kuril">Kuril</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="gender" class="col-sm-2 col-form-label">Gender</label>
          <div class="col-sm-10">
            <select class="form-control" name="gender" id="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
        </div>

        <fieldset class="form-group">
          <div class="row">
            <label for="facilities" class="col-sm-2 col-form-label"
              >Facilities</label
            >
            <div class="col-sm-10">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="facilities"
                  value="wifi"
                  id="wifi"
                />
                <label class="form-check-label" for="wifi"
                  >Wifi Available</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="facilities"
                  value="line_gas"
                  id="line_gas"
                />
                <label class="form-check-label" for="line_gas"
                  >Line Gas Available</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="facilities"
                  value="meal_system"
                  id="meal_system"
                />
                <label class="form-check-label" for="meal_system"
                  >Meal System Available</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="facilities"
                  value="utility_bill"
                  id="utility_bill"
                />
                <label class="form-check-label" for="utility_bill"
                  >Utility Bill Available</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="facilities"
                  value="attached_washroom"
                  id="attached_washroom"
                />
                <label class="form-check-label" for="attached_washroom"
                  >Attached Washroom</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="facilities"
                  value="attached_belkuni"
                  id="attached_belkuni"
                />
                <label class="form-check-label" for="attached_belkuni"
                  >Attached Belkuni</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="facilities"
                  value="lift"
                  id="lift"
                />
                <label class="form-check-label" for="lift"
                  >Lift Available</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="facilities"
                  value="car_parking"
                  id="car_parking"
                />
                <label class="form-check-label" for="car_parking"
                  >Car Parking Available</label
                >
              </div>
            </div>
          </div>
        </fieldset>

        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label"
            >Description (Optional)</label
          >
          <div class="col-sm-10">
            <textarea
              class="form-control"
              name="description"
              rows="6"
              id="description"
            ></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="contact" class="col-sm-2 col-form-label"
            >Contact Number</label
          >
          <div class="col-sm-10">
            <input
              type="number"
              name="contactNumber"
              class="form-control"
              id="contact"
              placeholder="+880"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="images" class="col-sm-2 col-form-label"
            >Room Images (Max 5)</label
          >
          <div class="col-sm-10">
            <input
              type="file"
              name="images"
              multiple
              accept="image/*"
              class="form-control"
              id="images"
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-success">Confirm Post</button>
          </div>
        </div>
      </form>
    </div>
  </body>
  <%- include("layout/footer.ejs") %>
</html>
