:root {
  --greenColor: rgb(75, 189, 0);
}
body {
  margin: 0px;
  padding: 0px;
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  flex-direction: column;
}
.fullHeader {
  width: 100%;
  height: 67px;
  background-color: var(--greenColor);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 5;
}

/*heading style*/
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 5px;
}
.rightPart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#unAuthenticateAccess {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aquamarine;
}
.logout {
  /* position: absolute;
  top: 0px;
  right: 0px; */
  width: 100px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.logoutVisible {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

#logo,
#search {
  height: 60px;
  width: auto;
  position: relative;
}
#logo {
  left: 20px;
  display: flex;
}
#logo h1 {
  color: white;
  margin-top: 1vh;
  font-size: 20px;
}
#logo h1 strong {
  margin-right: 10px;
}
#search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 40px;
}

#search .logout button {
  background-color: white;
  border: none;
  height: 30px;
  width: 100px;
}
#search .logout button:hover {
  background-color: var(--color2);
  color: white;
  transform: 1;
}
/* end here */

.container h1 {
  /* text-align: center; */
  font-weight: bold;
  color: var(--greenColor);
}
.size {
  width: 800px;
  resize: none;
}
.container {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 15px rgb(119, 119, 119);
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.user_name {
  display: flex;
  justify-content: space-between;
}
.wid {
  width: 390px;
}
#btn {
  width: 200px;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: var(--greenColor);
}
#text {
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 18px;
}
#access {
  text-decoration: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
