.contentBox {
  /* margin-top: 11vh; */
  /* margin-left: 335px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contentBoxNavBar {
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 0.1px solid #00000021;
  margin: auto;
  background-color: white;
  position: sticky;
  top: 67px;
  /* left: 25vw; */
  z-index: 100;
}
.contentBoxNavBar1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 15px;
  gap: 35px;
  padding-left: 2%;
}
.contentBoxNavBar2 {
  width: 50%;
  height: 100%;
  padding-right: 2%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
  color: #00b10f;
  font-weight: bold;
}
.navElement:hover {
  background-color: rgba(204, 204, 204, 0.146);
}
#contentBox1 {
  width: 100%;
}
#contentBox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #00000045; */
  /* background: linear-gradient(359deg, #ff8787, transparent); */
  /* background: linear-gradient(
    360deg,
    transparent -3%,
    #feff87 72%,
    transparent
  ); */
  margin: 100px 0px;
}
#contentBox3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ei part ta button box features gulo dekhar jonn */
.contentBoxFeatures {
  height: 250px; /* Fixed height for the div */
  width: 100%; /* Full width of the div */
  background: url("/images/GreenUniversityImage.jpg"); /* Background image path */
  background-size: cover; /* Ensure the image covers the entire div */
  background-position: center; /* Center the image within the div */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden; /* Ensures the height overflow doesn't affect layout */
}

.contentBoxFeaturesBox {
  height: 150px;
  width: 340px;
  background: linear-gradient(
    131deg,
    rgb(127 127 127) 70%,
    rgb(107 107 107) 30%
  );
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 9px 8px 5px #00000069;
}
.contentBoxFeaturesBox1 {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust values for the shadow */
}
.contentBoxFeaturesBox2 {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
  flex-grow: 0;
}
.contentBoxFeatures img {
  height: 65px;
  width: 65px;
}
.contentBoxFeaturesBox p {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.contentBoxFeaturesBox #seatCounterForSuccessRate {
  font-family: "Poetsen One";
  font-size: 25px;
}
/* total koto seat available ase ta dekhar box eita */
#TotalSeatCount {
  font-family: "Poetsen One";
  font-size: 45px;
  min-width: 55px;
  max-width: auto;
  height: 63px;
  padding: 4px;
  text-align: center;
  color: white;

  /* background: linear-gradient(to top, #7d7dff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 0px 13px yellow; */
}

/* #contentBoxFeaturesBoxButton {
  position: relative;
  bottom: 31px;
  right: -224px;
} */
.contentBoxHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contentBoxService {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* go together part  */
.goTogether {
  height: 300px;
  width: 500px;
  background: linear-gradient(135deg, rgb(11, 255, 11), white);
  position: relative;
  top: 50px;
  left: 0px;
}

/* popup window for login of unauthorize user  */
/* Overlay to gray out the background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Gray color with 50% transparency */
  visibility: hidden;
  z-index: 500; /* Ensure the overlay is behind the alert */
}

/* Alert popup */
.alert {
  background-color: rgb(255, 246, 212);
  border: 2px solid yellow;
  border-radius: 10px;
  height: 250px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
  z-index: 501; /* Ensure the alert is above the overlay */
}

/* To make both the overlay and alert visible */
.alertVisible {
  visibility: visible;
}

/* seePostByFilteringAll start  */

.seePostByFilteringAll {
  /* background-color: #ff00000d; */
  background: linear-gradient(123deg, #ffffff 70%, #ffffff 70%);
  box-shadow: 0px 0px 16px #00000033;
  padding: 20px;
  width: 80%;
  margin-bottom: 50px;
}
#seePostByFiltering1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.inputForTakingRentRange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#seePostByFiltering1 input {
  width: 327px;
  height: 44px;
  border: none;
  padding: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.769);
  box-shadow: -7px 9px 21px #0000002e;
}
.styleForFilter2345 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 18px 0px;
}
#seePostByFiltering2 {
}
#seePostByFiltering3 {
}
#seePostByFiltering3 select {
  width: 760px;
  height: 45px;
  padding: 10px;
  font-size: 20px;
  border: none;
  box-shadow: -7px 9px 21px #0000002e;
}
#seePostByFiltering4 {
}
#seePostByFiltering5 {
}
#seePostByFiltering5 input {
  width: 760px;
  box-shadow: -7px 9px 21px #0000002e;
}

.aaa:hover {
  height: 50px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
