@tailwind base;
@tailwind components;
@tailwind utilities;

.profileArea {
  min-height: 89vh;
  max-height: fit-content;
  width: 100%;
  background-color: #efefef;
  margin-left: 335px;
  margin-top: 11vh;
}
.profile-box {
  background-color: white;
}

#profile-box1 {
  height: 50vh;
  display: flex;
}
.profileImageSection {
  height: 100%;
  width: 40%;
  background-color: antiquewhite;
}
.profileImageBox {
  height: 300px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.profileImage {
  height: 170px;
  width: 170px;
  margin-top: 10px;
  border: 5px solid #0069ff;
  box-shadow: 5px 5px 15px #00000024;
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  overflow: hidden;
}
.profileName {
  margin-top: 20px;
  font-size: 25px;
}

.userInfo {
  height: 90px;
  width: 340px;
  color: black;
  background-color: white;
  border-radius: 15px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
