<div class="contentBoxNavBar">
  <div class="contentBoxNavBar1">
    <div
      class="text-3xl font-bold text-[#00b10f] hover:cursor-pointer"
      onclick="window.location.href='/lostAndFoundHomePage'"
    >
      Lost & Found
    </div>
    >>
    <div class="navElement flex justify-center items-center" id="navElement2">
      <div><img class="h-10 w-10" src="images/viewPost.png" alt="" /></div>
      <div><a href="/lostAndFoundSeePost">See post</a></div>
    </div>
    |
    <div class="navElement flex justify-center items-center" id="navElement2">
      <div><img class="h-8 w-8" src="images/doPost.png" alt="" /></div>
      <div><a href="/lostAndFoundDoPost">&nbsp;Do post</a></div>
    </div>
    |
    <div
      class="navElement flex justify-center items-center hover:cursor-pointer"
      id="navElement3"
      onclick="showQuickFindBox()"
    >
      <div><img class="h-10 w-10" src="images/find.png" alt="" /></div>
      <div>
        <span style="transition: transform 0.3s ease">Quick find</span>
      </div>
    </div>
  </div>
</div>
