<div class="fullHeader">
  <div class="logoPart center" id="logo">
    <div class="duration-500 hover:cursor-pointer flex justify-center items-center" id="menuButton"
      onclick="showNavBar()">
      <i class="fa-solid fa-bars fa-2x"></i>
    </div>

    <div class="lg:ml-10 lg:text-3xl">
      <small style="color: white">Green University</small><br />
      <div class="font-bold ">Student Bridge</div>
    </div>
  </div>

  <div class="rightPart">
    <div class="logout <%= student ? 'logoutVisible' : ''%>">
      <form method="post" action="/logout">
        <button class="btn btn-danger" type="submit">Log out</button>
      </form>
    </div>
    <div class="logout <%= student ? '' : 'logoutVisible'%>">
      <div id="unAuthenticateAccess">
        <a href="/login" style="color: white">Login</a>&nbsp/&nbsp
        <a href="/signup" style="color: white; margin-right: 10px">Signup</a>
      </div>
    </div>
  </div>
</div>