<div class="col-sm-3 sidenav" id="sideNavBar">
  <h4 id="person_name" class="ffsize2">
    <i class="fa-regular fa-address-card" id="profile_pic"></i><%= student ?
    student.firstName + ' ' + student.lastName : 'Unknown User' %>
  </h4>
  <hr id="line" />
  <ul class="nav nav-stacked ffsize">
    <li class="li-hover">
      <a href="/home"
        ><i class="fa-solid fa-house-chimney"></i>&nbsp; &nbsp;Home</a
      >
    </li>
    <li>
      <a href="/profile"
        ><i class="fa-solid fa-user"></i>&nbsp; &nbsp;Your Profile</a
      >
    </li>
    <!-- <li>
      <a href="/messages"
        ><i class="fa-solid fa-message"></i>&nbsp; &nbsp;Messages</a
      >
    </li> -->
    <li>
      <a href="/notification"
        ><i class="fa-solid fa-bell"></i>&nbsp; &nbsp;Notifications</a
      >
    </li>
    <!-- <li>
      <a href="/Q&A"
        ><i class="fa-solid fa-clipboard-question"></i>&nbsp; &nbsp; Preple Reviews</a
      >
    </li> -->
    <li>
      <a href="/Q&A"
        ><i class="fa-solid fa-envelope"></i></i>&nbsp; &nbsp;Contact with
        us</a
      >
    </li>
  </ul>
</div>

<!-- this is for making bg black when sideNav is appearing -->
<div class="overlaySideNav" id="overlaySideNav"></div> 
