<div class="col-sm-3 sidenav">
  <h4 id="person_name" class="ffsize2">
    <i class="fa-regular fa-address-card" id="profile_pic"></i><%= student ?
    student.firstName + ' ' + student.lastName : 'Unknown User' %>
  </h4>
  <hr id="line" />
  <ul class="nav nav-stacked ffsize">
    <li class="li-hover">
      <a href="/homePage"
        ><i class="fa-solid fa-house-chimney"></i>&nbsp; &nbsp;Home</a
      >
    </li>
    <li>
      <a href="/profile"
        ><i class="fa-solid fa-user"></i>&nbsp; &nbsp;Your Profile</a
      >
    </li>
    <li>
      <a href="/messages"
        ><i class="fa-solid fa-message"></i>&nbsp; &nbsp;Messages</a
      >
    </li>
    <li>
      <a href="/Q&A"
        ><i class="fa-solid fa-clipboard-question"></i>&nbsp; &nbsp;Question &
        Answer</a
      >
    </li>
  </ul>
  <br />
  <div class="input-group btn_position">
    <i class="fa-solid fa-person-rays fa-3x"></i>
    <h3>Get Room-mate</h3>
    <p>Are you searching for a room-mate?</p>
    <button class="btn btn-success">
      <a id="post_btn" href="/postShare">Post</a>
    </button>
  </div>
</div>
