<div class="contentBoxNavBar">
  <div class="contentBoxNavBar1">
    <div class="text-3xl font-bold text-[#00b10f]">ToLet</div>
    >>
    <div class="navElement text-green-600" id="navElement2">
      <a href="/totalPostAvailable">See post</a>
    </div>
    |
    <div class="navElement text-green-600" id="navElement2">
      <a href="/postShare">Do post</a>
    </div>
    |
    <div class="navElement text-green-600" id="navElement2">
      <a href="#contentBo">Cholo eksathe</a>
    </div>
    |
    <div class="navElement text-green-600" id="navElement3">
      <a href="#contentBox2" style="transition: transform 0.3s ease"
        >Quick find</a
      >
    </div>
  </div>
  <div class="contentBoxNavBar2"></div>
</div>
